
.stand-bg {
    background-image(to right,white,blue)
}

.price-stand {
    background-color: #f75998;
    color: white;
}

.price-basic {
    background-color: #59eaf7;
    color: white;
}

.price-adv {
    background-color: #f5bc42;
    color: white;
}

.plan {
    font-weight: bold;
    font-size: 20px;
}

.price {
    font-weight: bold;
    font-size: 40px;
}

.list-type {
    list-style-type: none;
}
