
.stand-bg {
    background-image:linear-gradient(to right,white,lightblue)
}

.price-stand {
    background-color: #f75998;
    color: white;
}

.price-basic {
    background-color: #59eaf7;
    color: white;
}

.price-adv {
    background-color: #f5bc42;
    color: white;
}

.plan {
    font-weight: bold;
    font-size: 20px;
}

.price {
    font-weight: bold;
    font-size: 40px;
}

.list-type {
    list-style-type: none;
}
.ad{
 background-image:linear-gradient(to right,white,lightgreen)
}
.ba{
background-image:linear-gradient(to right,white,lightpink)
}
